.sidecards {
  /* width: 12.5%; */
  background-color: #322827a1;

  margin-left: 1em;
  margin-bottom: 1em;
  display: flex;
  height: 6em;
  align-items: center;
  padding: 0;
}
.sidetext {
  margin: 0;
  padding-block: 2em;
}
.sidecards img {
  object-fit: cover;
  height: 100px;
  /* width: 80px; */
  padding: 0;
}
#undersearch {
  background: rgb(64, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(64, 0, 0, 1) 0%,
    rgba(115, 0, 0, 0.5018207966780462) 49%,
    rgba(255, 255, 255, 0) 83%
  );
}
.albumCard {
  width: 11%;
  background-color: #181818;
  padding: 0.2em;
  margin-right: 0.4em;
}
img.col-11 {
  padding: 0;
  margin-left: 0.5em;
  padding-top: 0.2em;
}
.albumText {
  padding-top: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0.6em;
}
.albumText p {
  margin-bottom: 0em;
}
.albumText p:nth-child(2) {
  font-weight: 300;
  padding-bottom: 1em;
}
#undersearch {
  margin-top: 4em;
}
a:hover {
  color: aliceblue;
}
.top-content-bar {
  position: absolute;
  left: 17% !important;
  width: 80%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
